{%
  include slides/title.html
  color=include.color
  id='cfg'
  h1='Code for Germany'
%}

<section data-state="ok-lab-{{ include.color }}" id="odd-cfg-b">
  <p>Open Knowledge Foundation Deutschland in Partnerschaft mit Code for America und aktiven Teams in ganz Deutschland</p>
  <p>&nbsp;</p>
  <code>&raquo;Ziel des Programms ist es, Entwicklungen im Bereich Transparenz, Open Data und Civic Tech in Deutschland zu fördern.&laquo;</code>
  <p>&nbsp;</p>
  <p>Mehr Informationen unter <a href="https://codefor.de" target="_blank" rel="noopener">codefor.de</a></p>
</section>

