{%
  include slides/title.html
  color=include.color
  id='projekte'
  h1='Projekte'
%}

<section data-state="ok-lab-{{ include.color }}" id="projekte-liste">
  <h1>Projekte</h1>
  <ul>
    <li class="fragment">Mein MS <a href="https://mein-ms.de/">mein-ms.de</a></li>
    <li class="fragment">Verkehrsdaten-Analyse <a href="https://traffics.codeformuenster.org/">traffics.codeformuenster.org</a></li>
    <li class="fragment">Open Events <a href="http://events.input23.de/">events.input23.de</a></li>
    <li class="fragment">Weihnachtsmarkt <a href="http://codeformuenster.org/weihnachtsmarkt/">codeformuenster.org/weihnachtsmarkt</a></li>
    <li class="fragment">Was steckt in meinem Trinkwasser <a href="http://codeformuenster.org/trinkwasser/">codeformuenster.org/trinkwasser</a></li>
    <li class="fragment">Parkleit Scraper <a href="https://github.com/codeformuenster/parkleit-scraper">github.com/codeformuenster/parkleit-scraper</a></li>
    <li class="fragment">Click that hood <a href="http://click-that-hood.com/muenster">click-that-hood.com/muenster</a></li>
  </ul>
</section>
