{%
  include slides/title.html
  color=include.color
  id='wir'
  h1='Wer sind wir?'
%}

<section data-state="ok-lab-{{ include.color }}" id="odd-cfm">
  <h1>Code for Münster</h1>
  <ul>
    <li class="fragment">Programmiererinnen</li>
    <li class="fragment">Designer</li>
    <li class="fragment">an Offenen Daten Interessierte</li>
  </ul>
</section>
<section data-state="ok-lab-{{ include.color }}" id="odd-cfm-ziele">
  <h1>Ziele</h1>
  <ul>
    <li class="fragment">nützliche Anwendungen und Visualisierungen rund um Offene Daten erstellen</li>
    <li class="fragment">an digitalen Werkzeugen für Bürgerinnen arbeiten</li>
    <li class="fragment">mehr Transparenz</li>
    <li class="fragment">Bekanntheit und Potential von Offenen Daten steigern</li>
  </ul>
</section>
